<%= stylesheet_link_tag('index') %>

<div class="content">
  <div class="content-text">
    <h1>Tickets</h1>
    <p>A simple web application that handles support tickets.</p>
    <p>Made with Ruby on Rails by <b><%= link_to('chchnikolaou', 'https://github.com/chchnikolaou', class:'index') %></b></p>
    <div class="content-btn">
      <%= link_to('Create Ticket', '/tickets/new', class:'content-btn') %>
      <%= link_to('View Tickets', '/tickets/', class:'content-btn') %>
    </div>


  </div>
  <div class="content-img">
    <%= image_tag('avatar.png') %>
  </div>
</div>