<div id="<%= dom_id ticket %>">
  <p>
    <strong>Subject:</strong>
    <%= ticket.subject %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= ticket.content %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= ticket.email %>
  </p>

  <p>
    <strong>Importance:</strong>
    <%= ticket.importance %>
  </p>

</div>
