<%= stylesheet_link_tag('ticket/ticket_view') %>

<div class="view-content">
  <h1>Tickets</h1>
  <div class="view-content-child">
<p style="color: green"><%= notice %></p>

<% content_for :title, "Tickets" %>



  <div id="tickets">
    <table>
      <tr>
        <th class="table-primary">Subject</th>
        <th class="table-primary">Content</th>
        <th class="table-primary">Email</th>
        <th class="table-primary">Importance</th>
      </tr>
      <% @tickets.each do |ticket| %>
        <tr>
          <td><%= ticket.subject %></td>
          <td><%= ticket.content %></td>
          <td><%= ticket.email %></td>
          <td><%= ticket.importance %></td>
          <td class="table-show-link"><%= link_to "Show", ticket %></td>
        </tr>
    </table>

      <p>

      </p>
    <% end %>
  </div>
  </div>
</div>

